// node sass에는 해당 값을 출력할 수 있습니다.
@debug 100 > 50; // true
@debug 10px <= 17px; // true
@debug 10px == 17px; // false
@debug 10px != 17px; // true
@debug 96px >= 30px; // true
@debug 1000ms <= 1s; // true

// 숫자
@debug 1px == 1px; // true
@debug 1px != 1em; // true
@debug 1 != 1px; // true
@debug 96px == 1in; // true

// 문자
@debug "Poppins" == Poppins; // true
@debug "Open Sans" != "Roboto"; // true

// 색상
@debug rgba(53, 187, 169, 1) == #35bba9; // true
@debug rgba(179, 115, 153, 0.5) != rgba(179, 115, 153, 0.8); // true

// 리스트
@debug (5px 7px 10px) != (5px, 7px, 10px); // true
// @debug (5px 7px 10px) != [5px 7px 10px]; // true
@debug (5px 7px 10px)==(5px 7px 10px); // true

//비교연산자
p {
    @if(1==1px){
        font-size: 10px;
    }
    @else{
        font-size: 20px;
    }
}

//산술연산자
.one {
    font-size: 10px + 10px;
}

.one {
    font-size: 10 + 10px;
}

// 이런식에 연산이 되지 않도록 주의해야 합니다. 예상치 못한 결과가 나올 수 있습니다.
.two {
    font-size: 10 + 10px;
}

.three {
    font-size: 10px - 3px;
}

// javascript가 아니기 때문에 더 엄밀한 여러가지 test를 하지 않지만 단위는 맞춰주시고, 연산을 하세요.
.four {
    font-size: 10 - -3px;
}

.five {
    font-size: 10px -3px; // 10 - 3이 아니라 -3이 음수로 인식되어 10px, -3px이 같이 들어갑니다.
}

.six {
    font-size: 10px * 3;
}

.seven {
    font-size: (10px / 3);
}

.eight {
    font-size: 10px % 3px;
}