@mixin flex($align){
    height: 200px;
    background-color: royalblue;
    display: flex;
    flex-direction: row;
    @if($align == 'center'){
        justify-content: center;
        align-items: center;
        justify-content: $align; //이렇게 입력 하면 따옴표가 넣어서 css에 나옴
        align-items: #{align}; //이렇게 입력 하면 따옴표가 없이 css에 나옴
    }
    @else if($align =='space') {
        justify-content: space-between;
        align-items: center;
    }
}
.one{
    @include flex('center');
}
.two{
    @include flex('center');
}
.three{
    @include flex('space');
}

@mixin box{
    width: 100px;
    height: 100px;
    background-color: red;
}
.box_1{
    @include box;
}
.box_2{
    @include box;
}