.order-title {
  padding: 54px 10px;
  display: block;
  font-family: 'Spoqa Han Sans Neo-Bold';
  font-size: 36px;
  text-align: center;
}
.order-item-box {
  margin-bottom: 80px;
}
.order-item-box .order-item-title {
  width: 100%;
  padding: 16px 36px;
  margin-bottom: 28px;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background-color: #F2F2F2;
  text-align: center;
}
.order-item-box .order-item-title .order-prodName {
  width: 300px;
}
.order-info{
  width: 100%;
}
.order-info-title {
  padding-bottom: 18px;
  font-family: 'Spoqa Han Sans Neo-Medium';
  font-size: 24px;
  border-bottom: 2px solid #c4c4c4;
}
.order-info-obj {
  margin: 40px 0;
}
.order-info-obj .obj-title{
  display: block;
  padding-bottom: 8px;
  font-size: 18px;
  border-bottom: 2px solid #c4c4c4;
}
.order-info-obj .obj-input {
  display: flex;
  flex-direction: column;
}
.order-info-obj .obj-input .input-box {
  display: flex;
  gap: 20px;
  padding: 8px 0;
  border-bottom: 1px solid #c4c4c4;
}
.order-info-obj .obj-input .input-box>span {
  flex-shrink: 0;
  padding: 5px 0 0 5px;
  width: 120px;
}
.order-info-obj .obj-input .input-box input {
  padding: 10px 5px;
  width: 100%;
  max-width: 340px;
  border: 1px solid #C4C4C4;
}
.order-info-obj .obj-input .input-box .phone-input {
  display: flex;
  align-items: center;
  gap: 5px;
}
.order-info-obj .obj-input .input-box .phone-input input {
  width: 100%;
  max-width: 80px;
}
.order-info-obj .obj-input .input-box input.wid-full {
  max-width: 650px;
}
.order-info-obj .obj-input .input-box .add-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.order-info-obj .obj-input .input-box .add-input>label input {
  width: 150px;
  margin-right: 10px;
}
.order-info-obj .obj-input .input-box .add-input>label button {
  padding: 0 10px;
}
.pay-info {
  display: flex;
  gap: 20px;
}
.payment-info {
  width: 100%;
  min-width: 550px;
}
.payment-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px 10px;
  border: none;
  border-bottom: 2px solid #C4C4C4;
}
.payment-box>label {
  font-size: 14px;
}
.payment-box>label>input{
  margin-right: 10px;
}
.sumprice-info {
  margin-bottom: 80px;
  width: 100%;
}
.sumprice-info>.order-info-title {
  border-bottom: none;
}
.sumprice-box {
  border-radius: 10px;
  border: 2px solid #21BF48;
  overflow: hidden;
}
.sum-obj-box {
  padding: 28px 28px 10px 28px;
}
.sumprice-box .sum-obj {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.sumprice-box .sum-obj>p {
  color: #767676;
  font-size: 14px;
}
.sumprice-box .sum-obj>p strong {
  font-family: 'Spoqa Han Sans Neo-Bold';
  font-size: 18px;
  color: #000;
  padding-right: 3px;
}

.sumprice-box .sum-obj.last-obj {
  padding-top: 15px;
  border-top: 1px solid #C4C4C4;
}

.sumprice-box .sum-obj.last-obj>p{
  color: #EB5757;
  font-size: 24px;
}
.sumprice-box .sum-obj.last-obj>p strong {
  color: inherit;
  font-size: inherit;
}

.sumprice-box .go-pay {
  background-color: #F2F2F2;
  padding: 20px 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

}
.sumprice-box .go-pay>button {
  padding: 0 28px;
}
.sumprice-box .go-pay .agree-check {
  display: flex;
  align-items: center;
  gap: 5px;
}
.sumprice-box .go-pay .agree-check .info-text {
  font-size: 14px;
}