/*=================reset css=================*/
* {
  font-family: "Spoqa Han Sans Neo-Regular";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button,
input {
  background: none;
  border: none;
  color: inherit;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button:enabled {
  cursor: pointer;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5 {
  font: inherit;
}

strong,
b {
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
}
/*=================font css=================*/
@font-face {
  font-family: 'Spoqa Han Sans Neo-Regular';
  src: url(../public/fonts/SpoqaHanSansNeo-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Spoqa Han Sans Neo-Bold';
  src: url(../public/fonts/SpoqaHanSansNeo-Bold.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Spoqa Han Sans Neo-Medium';
  src: url(../public/fonts/SpoqaHanSansNeo-Medium.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

/*=================icon css=================*/
.icon {
  vertical-align:middle;
  display:inline-flex;
  background-size:contain;
  background-repeat:no-repeat;
}
.icon::before {
  display:inline-block;
  content:'';
  vertical-align:middle;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center center;
}
.icon-cart{
  width:32px;
  height:32px;
  background-image:url('../public/image/icon/icon-shopping-cart.svg');
}
.icon-user{
  width:32px;
  height:32px;
  background-image:url('../public/image/icon/icon-user.svg');
}
.icon-search{
  width:28px;
  height:28px;
  background-image:url('../public/image/icon/icon-search.svg');
}
.icon-check-off{
  width:28px;
  height:28px;
  background-image:url('../public/image/icon/icon-check-off.svg');
}
.icon-check-on{
  width:28px;
  height:28px;
  background-image:url('../public/image/icon/icon-check-on.svg');
}
.icon-delete{
  width: 22px;
  height: 22px;
  background-image:url('../public/image/icon/icon-delete.svg');
}
.icon-minus-line{
  width: 18px;
  height: 18px;
  background-image:url('../public/image/icon/icon-minus-line.svg');
}
.icon-plus-line{
  width: 18px;
  height: 18px;
  background-image:url('../public/image/icon/icon-plus-line.svg');
}
.icon-plus{
  width: 22px;
  height: 22px;
  background-image:url('../public/image/icon/icon-plus.svg');
}
.icon-rigth-arrow{
  width: 22px;
  height: 22px;
  background-image:url('../public/image/icon/icon-rhigt-arrow.svg');
}
.icon-img{
  width: 50px;
  height: 50px;
  background-image:url('../public/image/icon/icon-img.png');
}
.icon-insta{
  width: 32px;
  height: 32px;
  background-image:url('../public/image/icon/icon-insta.svg');
}
.icon-fb{
  width: 32px;
  height: 32px;
  background-image:url('../public/image/icon/icon-fb.svg');
}
.icon-yt{
  width: 32px;
  height: 32px;
  background-image:url('../public/image/icon/icon-yt.svg');
}

/*=================common css=================*/
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
.pageWrap {
  width: 100%;
  padding: 0 40px;
}
.pageWrap > .content-area {
  width: 100%;
  max-width: 980px;
  margin: 0 auto; 
}
.pageWrap > .header-top,
.pageWrap > .content-area.header-top {
  margin-top: 90px;
}

/*=================체크박스 커스텀 css=================*/
.hodu-check {
  display: none;
}
.hodu-check-img {
  flex-shrink: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../public/image/check-box.svg) no-repeat;
  vertical-align: top;
}
.hodu-check:checked + .hodu-check-img  {
  background: url(../public/image/check-fill-box.svg) no-repeat;
}

/*=================카운터=================*/
.counter-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  border: 1px solid #C4C4C4;
  overflow: hidden;
}
.counter-box>input,
.counter-box>.counter-btn {
  width: 50px;
  text-align: center;
}
.counter-box>input {
  height: 100%;
  border-left: 1px solid #C4C4C4;
  border-right: 1px solid #C4C4C4;
  font-size: 18px;
}
.counter-box>.counter-btn {
  font-size: 30px;
  color: #C4C4C4;
}

/*================팝업 공통 스타일================*/
.pop-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
}
.pop-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.pop-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #C4C4C4;
  padding: 40px 80px;
}
.pop-close-btn {
  position: absolute;
  right: 16px;
  top: 16px;
}
.pop-btn-box {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.pop-btn-box>button {
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px 10px;
  background-color: #21BF48;
  color: #fff;
}
.pop-btn-box>button:first-child {
  color: #767676;
  border: 1px solid #C4C4C4;
  background-color: #fff;
}