* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background {
    width: 100%;
    height: 100vh;
    background-color: #f59799;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background .character{
    position: relative;
    width: 500px;
    height: 500px;
    /* background-color: aliceblue; */
}
.background .character .obj {
    position: absolute;
    left: 20%;
}
/*----------------머리띠----------------*/
.band {
    z-index: 300;
    position: relative;
    transform: translate(0,90px);
    width: 310px;
    height: 250px;
    border-radius: 50% / 60% 60% 40% 40%;
    box-shadow: 0px -20px 9px 0px #0f706578, 0px -50px 0px 0px #368982;

    animation: band 1s infinite alternate;
}
.band div {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    width: 85px;
    height: 120px;
    background: linear-gradient(300deg, rgba(54,137,130,1) 50%, rgba(15,112,101,1) 85px);
    border: 6px solid #0f7065;
    border-radius: 100% 2% 100% 2%;
}
.band .left {
    top: -70%;
    left: 25%;
    rotate: 280deg;
}
.band .center {
    z-index: 2;
    top: -25%;
    width: 60px;
    height: 50px;
    background-color: #368982;
    border: 6px solid #0f7065;
    border-radius: 50% / 40% 60% 40% 40%;
}
.band .right {
    top: -60%;
    left: 40%;
    rotate: 200deg;
}
/*----------------얼굴----------------*/
.position_center {
    left: 50%;
    transform: translateX(-50%);
}
.face_area {
    top: 70px;
    /* animation: move-foot 1s infinite alternate-reverse; */
}
.face {
    z-index: 200;
    position: relative;
    width: 310px;
    height: 250px;
    background-color: #fef2f0;
    box-shadow:  inset 20px -5px 10px 0 #f3dbd7, 0px -3px 15px 0 #ffc4baf5;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    border: 6px solid #fcd6cd;
    overflow: hidden;
}
.face .hair{
    position: absolute;
    top: 0;
    width: 60px;
    height: 120px;
    border-radius: 0 0 100px 100px;
    background-color: #000;
    box-shadow:  0px -5px 11px 0px #343434;

    animation: eat-hair-front 1s infinite 0.5s alternate;
}
.face .hair:nth-child(1) {
    left: 0px;
    height: 130px;
}
.face .hair:nth-child(2) {
    left: 60px;
}
.face .hair:nth-child(3) {
    left: 120px;
    height: 105px;
}
.face .hair:nth-child(4) {
    left: 180px;
}
.face .hair:nth-child(5) {
    left: 240px;
    height: 130px;
}
.face .eyes {
    display: flex;
    gap: 50px;
    position: absolute;
    top: 55%;
    animation: eat-face 1s infinite alternate;
}
.face .eyes .left, .face .eyes .right {
    width: 15px;
    height: 15px;
    border-radius: 50px;
    box-shadow: inset -2px -1px 0px 10px #000;
    background-color: #fff;
    animation: eat-face-eye 1s infinite alternate;
}
.face .mouth {
    position: absolute;
    top: 65%;
    width: 100px;
    height: 35px;
    background-color: #fbd7dd;
    box-shadow:  inset 10px 5px 10px 0 #ffbac4;
    border-radius: 20% 20% 100% 100% /100%;
    border: 6px solid #ffb7c3;

    animation: eat-face 1s infinite alternate, eat-mouth 1s infinite alternate;
}
.face .cheek {
    display: flex;
    gap: 110px;
    position: absolute;
    top: 55%;
    animation: eat-face 1s infinite alternate;
}
.face .cheek .left, .face .cheek .right {
    width: 80px;
    height: 70px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;;
    background-color: #f37186; 
}
.back_hair {
    z-index: 500;
    position: relative;
    top: -120px;
    width: 290px;
    height: 50px;
}
.back_hair>div{
    position: absolute;
}
.back_hair .hair{
    position: absolute;
    top: 0;
    width: 50px;
    height: 20px;
    background-color: #000;
    box-shadow:  inset 0px -5px 11px 0px #343434;
    border-radius: 100% 50% 100% 50%;
}
.back_hair .pin {
    position: absolute;
    top: -5px;
    width: 40px;
    height: 40px;
    background-color: #ec1f25;
    box-shadow: 0px 5px 4px 0 #b700008f;
    border: 6px solid #df1e27;
    border-radius: 100%;
}
.back_hair .pin.small {
    top: 20px;
    width: 30px;
    height: 30px;
    box-shadow: none;
}
.back_hair .left {
    left: -20px;
    animation: eat-hair-left 1s infinite alternate;
}
.back_hair .left .hair{
    left: -40px;
}
.back_hair .left .hair:nth-child(1) {
    rotate: 20deg;
}
.back_hair .left .hair:nth-child(2) {
    left: -35px;
    top: 10px;
}
.back_hair .left .hair:nth-child(3) {
    top: 20px;
    left: -30px;
    rotate: -20deg;
}
.back_hair .right {
    right: 0;
    animation: eat-hair-right 1s infinite alternate;
}

.back_hair .right .hair{
    left: 30px;
}
.back_hair .right .hair:nth-child(1) {
    rotate: -20deg;
}
.back_hair .right .hair:nth-child(2) {
    left: 25px;
    top: 10px;
}
.back_hair .right .hair:nth-child(3) {
    top: 20px;
    left: 20px;
    rotate: 20deg;
}

/*----------------몸통----------------*/
.body_area .cloth{
    position: relative;
    top: 280px;
    width: 300px;
    height: 200px;
    background-color: #f5c5cc;
    box-shadow: inset 0px 10px 20px 0 #faaec0;
    border: 6px solid #ffabbf;
    border-radius: 50% / 100% 100% 60% 60%;
}
.body_area .cloth .neck {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    width: 100px;
    height: 60px;
    border-radius: 100%;
    background-color: #fef2f0;
    box-shadow: inset 0px 10px 20px 0 #f5e2df;
    border: 6px solid #ffabbf;
}
.body_area .cloth .hand {
    position: relative;
    top: 30px;
    left: 60px;
    z-index: 600;
    animation: up-watermelon 1s infinite alternate;
}
.body_area .cloth .hand>div {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: #fef2f0;
    box-shadow: inset -5px 0px 10px 0px #fcd6cd;
    border: 6px solid #fcd6cd;
    border-radius: 80% / 100% 100% 80% 80%;
    animation: move-hand-left 1s infinite alternate;
}

.body_area .cloth .hand .right {
    left: 180px;
    animation: move-hand-right 1s infinite alternate;
}

.body_area .cloth .leg {
    position: relative;
    top: 140px;
    left: 20px;
}
.body_area .cloth .leg>div {
    position: absolute;
    top: -10px;
    left: 10px;
    width: 100px;
    height: 60px;
    border-radius: 50% / 100% 20% 20% 100%;
    box-shadow: inset -20px 9px 12px 0px #ffabbf
}
.body_area .cloth .leg>div::after {
    content: '';
    position: absolute;
    left: 70px;
    top: -10px;
    display: block;
    width: 70px;
    height: 70px;
    background-color: #fef2f0;
    border: 6px solid #fcd6cd;
    border-radius: 100% 100% 50% 50%;
    box-shadow: inset -5px 0px 10px 0px #fcd6cd;
}
.body_area .cloth .leg .right {
    top: -23px;
    left: 200px;
    width: 82px;
    height: 82px;
    background-color: #fef2f0;
    border: 6px solid #fcd6cd;
    border-radius: 100% 100% 50% 50%;
    box-shadow: inset -5px 0px 10px 0px #fcd6cd;
}
.body_area .cloth .leg .right::after {
    display: none;
}

/*----------------수박----------------*/
.watermelon {
    position: relative;
    left: 100px;
    top: 300px;
    z-index: 500;
    width: 200px;
    height: 100px;
    background-color:#e05856;
    border-radius: 0 0 200px 200px;
    box-shadow: inset 0px -10px 0px 5px #d9dac3, 0px 10px 0px 5px #006c13;

    animation: up-watermelon 1s infinite alternate;
} 
.watermelon .seed {
    position: absolute;
    top: 10px;
    width: 10px;
    height: 20px;
    border-radius: 0 100% 0 100%;
    background-color: #352518;
}
.watermelon .seed:nth-child(1){
    left: 50px;
}
.watermelon .seed:nth-child(2){
    top: 20px;
    left: 100px;
}
.watermelon .seed:nth-child(3){
    left: 150px;
}


/*수박 들어 올리기*/
@keyframes up-watermelon {
    50% {
        transform: translate(0, -30px);
    }
    100% {
        transform: translate(0, -30px);
    }
}

/*수박 먹기_얼굴 요소 움직이기*/
@keyframes eat-face{
    50% {
        transform: translate(-50%, 10px);
    }
    100% {
        transform: translate(-50%, 10px);
    }
}
@keyframes eat-face-eye {
    50% {
        box-shadow: inset -2px -1px 0px 5px #000;
        background-color: #fff;
    }
    100%{
        box-shadow: inset -2px -1px 0px 5px #000;
        background-color: #fff;
    }
}
/*수박 먹기_머리카락 움직이기*/
@keyframes band{
    50% {
        transform: translate(0, 100px);
    }
    100% {
        transform: translate(0, 100px);
    }
}
@keyframes eat-hair-front{
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, 10px);
    }
}
@keyframes eat-hair-left{
    50% {
        rotate: 20deg;
        left: -10px;
    }
    100% {
        rotate: 20deg;
        left: -10px;
    }
}
@keyframes eat-hair-right{
    50% {
        rotate: -20deg;
    }
    100% {
        rotate: -20deg;
    }
}

/*수박 먹기_입 동작*/
@keyframes eat-mouth{
    20% {
        width: 110px;
        height: 40px;
    }
    40% {
        width: 120px;
        height: 50px;
    }
    45% {
        width: 120px;
        height: 5px;
    }
}


/*손 왔다갔다*/
@keyframes move-hand-right {
    100% {
        rotate: 24deg;
        transform: translate(10px, 0);
    }
}
@keyframes move-hand-left {
    100% {
        rotate: -24deg;
        transform: translate(-10px, 0);
    }
}



