.container {
    padding: 12px 10px;
}
.grade_card {
    width: 100%;
    border: 2px solid #000;
    border-collapse : collapse;
    table-layout: fixed;
    text-align: center;
}
.grade_card caption {
    caption-side: bottom;
    margin-top: 20px;
}
.grade_card th, td {
    border: 1px solid #000;
    padding: 2px 0;
}
.grade_card thead {
    border-bottom: 2px solid #000;    
}
.grade_card .title {
    background-color: #efefef;
}
.grade_card tfoot {
    font-weight: 700;
    border-top: 3px double #000;  
}
