.page-wrap {
  width: 100%;
  margin-top: 100px;
  padding: 0 40px;
  /*박스 스크롤 방식 해제*/
  /* height: calc(100vh - 100px);
  overflow: hidden; */
}
.content-area {
  width: 100%;
  max-width: 550px;
  margin: 0 auto; 
}
.content-area .page-title {
  text-align: center;
  margin-bottom: 70px;
}
.content-area .page-title > img {
  width: 100%;
  max-width: 238px;
}

.content-area .form-area {
  margin-bottom: 30px;
  padding-top: 50px;
  position: relative;
}
.content-area .tab-btn {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
}
.content-area .tab-btn button {
  padding: 20px;
  border-radius: 10px 10px 0 0;
  border: 1px solid #C4C4C4;
  border-bottom: none;
  width: 50%;
  background-color: #fff;
}
.content-area .tab-btn button.dis-btn {
  background-color: #F2F2F2;
  border-bottom: 1px solid #C4C4C4;
}
.content-area .input-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 26px;
  padding: 35px;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  /*박스 스크롤 방식 해제*/
  /* height: calc(100vh - 500px);
  overflow-y: scroll; */
}
.content-area .input-box>.form-title{
  font-family: 'Spoqa Han Sans Neo-Bold';
  color: #6533C0;
  text-align: center;
}
.content-area .input-box>.form-title.seller {
  color: #443B32;
}
.content-area .input-box>.form-title>p {
  color: #767676;
  font-size: 14px;
  padding: 10px 0 15px 0;
}
.content-area .input-box>.form-title>p>strong {
  border-bottom: 1px solid #6533C0;
  font-family: 'Spoqa Han Sans Neo-Medium';
  color: #6533C0;
}
.content-area .input-box>.form-title.seller>p>strong {
  border-bottom: 1px solid #443B32;
  color: #443B32;
}
/*스크롤 영역 커스텀*/
.content-area .input-box::-webkit-scrollbar {
  width: 20px;
}
.content-area .input-box::-webkit-scrollbar-thumb {
  height: 50%;
  background: #F2F2F2;
  border-radius: 50px;
  border: 8px solid #fff;
}
.content-area .input-box::-webkit-scrollbar-track {
  background: none;
}
.content-area .warning-text {
  font-family: 'Spoqa Han Sans Neo-Medium';
  color: #EB5757;
  margin-bottom: 26px;
}
.input-box .input-btn-box {
  width: 100%;
  display: flex;
  gap: 12px;
}
.input-box .input-btn-box button {
  width: 120px;
}
.input-box .input-icon-box {
  position: absolute;
  top: 27px;
  right: 10px;
  transform: translateY(50%);
}
.input-box .alert-mes {
  color: #EB5757;
}

.input-box .alert-mes-ok {
  color: #6533C0;
}

.input-box .margin-area {
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 30px;
  margin-bottom: 25px;
}
.agree-check {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 0 40px;
  margin-bottom: 35px;
}
.agree-check .info-text {
  display: inline-block;
  color:#767676;
}
.agree-check strong {
  cursor: pointer;
  font-family: 'Spoqa Han Sans Neo-Bold';
  text-decoration: underline;
}
.content-area .ect-btn {
  margin: 20px 0;
  display: block;
  text-align: center;

}
.content-area .ect-btn a {
  color: #333;
  padding: 0 14px;
}
.content-area .ect-btn a:hover{
  color: #6533C0;
}
.content-area .ect-btn a:nth-child(2) {
  border-left: 1px solid #333;
}