/*===============reset===================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
h1,h2,h3,h4,h5 {
    font-weight: inherit;
    font-size: inherit;
}
ul,ol {
    list-style: none;
}
button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
}
input {
    border: none;
    font-family: inherit;
}
img {
    vertical-align: top;
}

/*===============component===================*/
.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
/*스크롤바 제거*/
/* ( 크롬, 사파리, 오페라, 엣지 ) 동작 */
.list_scroll::-webkit-scrollbar {
    display: none;
}
.list_scroll {
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

.icon {
    vertical-align:middle;
    display:inline-flex;
    background-size:contain;
    background-repeat:no-repeat;
}
.icon::before {
    display:inline-block;
    content:'';
    vertical-align:middle;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center center;
}
.icon_del{
    width: 50px;
    height: 50px;
    background-image:url('../img/icon_del.svg');
}
.icon_check{
    margin-top: 6px;
    width: 25px;
    height: 25px;
    background-image:url('../img/icon_check.svg');
}