/*===============reset===================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
h1,h2,h3,h4,h5 {
    font-weight: inherit;
    font-size: inherit;
}
ul,ol {
    list-style: none;
}
button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
}
img {
    vertical-align: top;
}

/*===============component===================*/
.a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
.icon {
    vertical-align:middle;
    display:inline-flex;
    background-size:contain;
    background-repeat:no-repeat;
}
.icon::before {
    display:inline-block;
    content:'';
    vertical-align:middle;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center center;
}

.icon_del{
    width: 50px;
    height: 50px;
    background-image:url('../img/icon_del.svg');
}
