/*===============font===================*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;500;700&display=swap');


/*===============style===================*/
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
}
body.deco_bg {
    height: 100vh;
    background: linear-gradient(141deg, #C5E3FF -1.99%, #F0CAD8 105.08%) no-repeat;
}
.container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 340px);
    height: calc(100% - 100px);
    max-height: 100%;
    max-width: 100%;
    background-color: #fff;
    border-radius: 30px;
    padding: 50px 63px;
    text-align: center;
    overflow: hidden;
}
/*====header====*/
.header {
    margin-bottom: 49px;
}
.header .container_title {
    font-size: 3.125rem;
    font-weight: 700;
}

/*====main====*/
.main .list_area {
    margin-bottom: 14px;
}
.main .list_title {
    width: 100%;
    padding-bottom: 22px;
    display: flex;
    gap: 24px;
    color: #DC9DB7;
    font-size: 1.75rem;
    font-weight: 700;
    border-bottom: 4px solid #476A8A;
}
.main .list_title h3:nth-child(2) {
    width: 100%;
}
.main .list_scroll {
    height: calc(100vh - 480px);
    overflow-y: scroll;
}
.main .list_obj {
    position: relative;
    height: 80px;
    display: flex;
    gap: 42px;
    align-items: center;
    border-bottom: 1px solid #ddd;
}
.main .list_obj .content {
    width: 100%;
    margin-right: 85px;
    font-size: 1.313rem;
    color: #45525F;
    text-align: left;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.main .list_obj.checked .content {
    color: #7B8C9D;
    text-decoration: line-through;
}

.main .list_obj .del_btn {
    display: none;
    position: absolute;
    right: 0;
    height: 80px;
    width: 80px;
    background-image: url();
    background-color: rgba(240, 202, 216, 0.50);
}
.main .list_obj .checkbox_wrap{
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}
.main .list_obj .checkbox_wrap .checkbox {
    display: none;
}
.main .list_obj .checkbox_wrap .checkbox_icon{
    display: inline-block;
    width: 45px;
    height: 45px;
    border: 3px solid #476A8A;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .list_obj .checkbox_wrap .checkbox:checked + .checkbox_icon{
    background-color: #476A8A;
}
.main .input_wrap {
    height: 80px;
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border: 5px solid #476A8A;
    border-radius: 15px;
    box-shadow: 3px 3px 10px 0px rgba(37, 44, 50, 0.20);
}
.main .input_wrap .add_input {
    height: 100%;
    width: 100%;
    font-size: 1.75rem;
    color: #45525F;
    padding: 0 21px;
}
.main .input_wrap .add_input::placeholder {
    color: #7B8C9D;
    font-weight: 400;
} 
.main .input_wrap .add_btn {
    height: 100%;
    padding: 0 30px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    background: #476A8A;
}
.main .input_area .add_alert {
    display: none;
    color: #E85A5A;
    text-align: left;
    font-size: 1.125rem;
    font-weight: 400;
}
