.page-wrap {
  width: 100%;
  margin-top: 100px;
  padding: 0 40px;
}
.content-area {
  width: 100%;
  max-width: 550px;
  margin: 0 auto; 
}
.content-area .page-title {
  text-align: center;
  margin-bottom: 70px;
}
.content-area .page-title > img {
  width: 100%;
  max-width: 238px;
}

.content-area .form-area {
  margin-bottom: 30px;
  padding-top: 50px;
  position: relative;
}
.content-area .tab-btn {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
}
.content-area .tab-btn button {
  padding: 20px;
  border-radius: 10px 10px 0 0;
  border: 1px solid #C4C4C4;
  border-bottom: none;
  width: 50%;
  background-color: #fff;
}
.content-area .tab-btn button.dis-btn {
  background-color: #F2F2F2;
  border-bottom: 1px solid #C4C4C4;
}
.content-area .input-area {
  padding: 35px;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
}
  .input-area .input-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 26px;
  }
.content-area .warning-text {
  font-family: 'Spoqa Han Sans Neo-Medium';
  color: #EB5757;
  margin-bottom: 26px;
}

.content-area .ect-btn {
  display: block;
  text-align: center;

}
.content-area .ect-btn a {
  color: #333;
  padding: 0 14px;
}
.content-area .ect-btn a:hover{
  color: #21BF48;
}
.content-area .ect-btn a:nth-child(2) {
  border-left: 1px solid #333;
}