/*font*/
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
  format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff')
  format('woff');
  font-weight: 700;
  font-style: normal;
}
/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
button, input {
  background: none;
  border: none;
  color: inherit;
}
button:enabled {
  cursor: pointer;
}
img {
  vertical-align: top;
}
h1,
h2,
h3 {
  font: inherit;
}
ol, ul {
  list-style: none;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}


/* 공통 */
body {
  margin: 0;
  background: #fffaf0;
}
.container{
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 120px);
}
button {
  border: 0;
}

button:not(:disabled) {
  cursor: pointer;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* a-button  */
/* .btn-join,
.btn-login,
.btn-logout */
[class^="btn"] {
  display: inline-block;
  padding: 1em 1em 1em 2.8em;
  text-decoration: none;
  color: #5a6a72;
}

.btn-join {
  background: url(./images/icon/icon-join.svg) no-repeat 0.8em center/ 2em;
}

.btn-login {
  background: url(./images/icon/icon-login.svg) no-repeat 0.8em center/ 2em;
}

.btn-logout {
  background: url(./images/icon/icon-logout.svg) no-repeat 0.8em center/ 2em;
}

/* button */
.black-btn {
  display: block;
  width: 100%;
  padding: 0;
  background: #29363d;
  color: white;
  height: 48px;
  border: 0;
  font-weight: bold;
  font-size: 16px;
  border-radius: 4px;
}

/* .black-btn:not(:disabled) {
  cursor: pointer;
} */
.black-btn:disabled {
  opacity: 0.2;
}

/* form */
.label_style,
.input_style {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.input_style {
  border: none;
  box-shadow: 0 1px 0 0 #677880;
  height: 48px;
  transition: all 0.2s;
  border-radius: 4px 4px 0 0;
  padding: 0 16px;
  font-size: 16px;
  background-color: #fff;
}

.input_style:hover {
  box-shadow: 0 2px 0 0 #2e6ff2;
}

.input_style:focus {
  outline: none;
  box-shadow: 0 0 0 2px #2e6ff2;
  border-radius: 4px;
}

.label_style {
  font-size: 14px;
  color: #29363d;
  margin-bottom: 8px;
}

.enabled_btn {
  width: 100%;
  padding: 14px 0;
  color: #F4F5F5;
  font-size: 16px;
  font-weight: 700;
  background-color: #29363D;
  border-radius: 4px;
}

/* layout ------------------------------- */
.hello {
  display: inline-block;
}

.hello strong {
  box-shadow: inset 0 -0.6em rgba(255, 79, 110, 0.5);
}

@media (min-width: 541px) {
  .hello::after {
      content: "|";
      color: #d8ddde;
      margin-left: 24px;
  }
}

@media (max-width: 540px) {
  .hello {
      position: absolute;
      top: 140px;
      right: 34px;
  }
}

.svg {
  display: block;
  width: auto;
  height: 120px;
  margin: 0 auto 20px;
}

.svg .svg-heart {
  transform: scale(1);
  stroke: transparent;
  stroke-width: 0px;
  transform-origin: 50% 20px;
  z-index: 10;
  animation: heart 0.5s cubic-bezier(0.23, 1.08, 0.26, 0.01) infinite alternate;
}

@keyframes heart {
  to {
      stroke: #ffc7d1;
      stroke-width: 2px;
      transform: scale(3);
  }
}

.icon {
  vertical-align:middle;
  display:inline-flex;
  background-size:contain;
  background-repeat:no-repeat;
}
.icon::before {
  display:inline-block;
  content:'';
  vertical-align:middle;
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center center;
}
.icon.heart_icon {
  width:32px;
  height:32px;
  background-image:url('./images/icon/heart.svg');
}