@import './base.css';
body {
  display: flex;
  place-items: center;
  background-color: #EEECE6;
}

#app {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

ul, ol {
  list-style: none;
}

input[type=text]{
  border: 1px solid #2c3e50;
  border-radius: 5px;
  height: 40px;
  padding: 5px 10px;
}
input[type=text]:focus {
  border: 1px solid #00bd7e;
  outline: 1px solid #00bd7e
} 
input[type=checkbox]:checked {
  accent-color: #00bd7e;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox  */
input[type='number'] {
  -moz-appearance: textfield;
}
button {
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  border: 1px solid #2c3e50;
  background-color: #fff;
  transition: all 0.2s;
}
button:hover {
  border: 1px solid #00bd7e;
  background-color: #00bd7e;
  color: #fff;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

