.title-box {
  height: 120px;
  padding: 20px 0px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.title-box>h3 {
  font-family: 'Spoqa Han Sans Neo-Bold';
  font-size: 30px;
}
.title-box>h3>strong {
  color: #21BF48;
  padding-left: 5px;
}
.title-box>button i {
  margin-right: 8px;
}
.content-box {
  height: calc(100vh - 210px);
  min-height: 400px;
  padding-bottom: 50px;
  display: flex;
  gap: 20px;
}
.tab-box {
  width: 100%;
  max-width: 200px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.tab-box .tab-obj {
  position: relative;
  cursor: pointer;
  padding: 15px 10px;
  border-radius: 5px;
}
.tab-box .tab-obj.active {
  background-color: #21BF48;
  color: #fff;
}
.tab-box .tab-obj.active:hover {
  background-color: #21BF48;
  color: #fff;
}
.tab-box .tab-obj:hover {
  background-color: #EFFFF3;
}
.tab-box .tab-obj>span {
  position: absolute;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #EB5757;
  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
}
.tab-content-box {
  width: 100%;
  overflow-y: scroll;
  background-color: #F2F2F2;
  border: 1px solid #c4c4c4;
}

/*스크롤 영역 커스텀*/
.tab-content-box::-webkit-scrollbar {
  width: 0;
}

/*=====판매중인 상품 tab=====*/
.seller-prod-box {
  width: 100%;
}
.seller-prod-box li {
  background-color: #fff;
  padding: 10px 16px;
  border-bottom: 1px solid #c4c4c4;
}
.seller-prod-box>.prod-title {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.seller-prod-box>.prod-title>span:nth-child(1){
  width: 50%;
}
.seller-prod-box>.prod-title>span:nth-child(2){
  width: 100px;
}
.seller-prod-box>.prod-title>span:nth-child(3),
.seller-prod-box>.prod-title>span:nth-child(4){
  width: 80px;
}

.content-box .alert-title {
  color: #EB5757;
}
.content-box .alert-box {
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding: 16px 20px 16px 28px;
  border-radius: 5px;
  background-color: #FFEFE8;
}
.content-box .alert-box .alert-list {
  list-style-type: "- ";
  font-size: 14px;
}