.title-box {
  height: 120px;
  padding: 20px 0px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.title-box>h3 {
  font-family: 'Spoqa Han Sans Neo-Bold';
  font-size: 30px;
}
.title-box>h3>strong {
  color: #443B32;
  padding-left: 5px;
}
.title-box>button i {
  margin-right: 8px;
}
.content-box {
  height: 100%;
  min-height: 400px;
  padding-bottom: 50px;
  display: flex;
  gap: 20px;
}
.tab-box {
  width: 100%;
  max-width: 200px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.tab-box .tab-obj {
  position: relative;
  cursor: pointer;
  padding: 15px 10px;
  border-radius: 5px;
}
.tab-box .tab-obj.active {
  background-color: #443B32;
  color: #fff;
}
.tab-box .tab-obj.active:hover {
  background-color: #443B32;
  color: #fff;
}
.tab-box .tab-obj:hover {
  background-color: #cfcfcf;
}
.tab-box .tab-obj.active>span {
  background-color: #fff;
  color: #443B32;
}
.tab-box .tab-obj>span {
  position: absolute;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #443B32;
  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
}
.tab-content-box {
  width: 100%;
  overflow-y: scroll;
  background-color: #F2F2F2;
  border: 1px solid #c4c4c4;
}

/*스크롤 영역 커스텀*/
.tab-content-box::-webkit-scrollbar {
  width: 0;
}

/*=====판매중인 상품 tab=====*/
.seller-prod-box {
  width: 100%;
}
.seller-prod-box li {
  background-color: #fff;
  padding: 10px 16px;
  border-bottom: 1px solid #c4c4c4;
}
.seller-prod-box>.prod-title {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.seller-prod-box>.prod-title>span:nth-child(1){
  width: 50%;
}
.seller-prod-box>.prod-title>span:nth-child(2){
  width: 100px;
}
.seller-prod-box>.prod-title>span:nth-child(3),
.seller-prod-box>.prod-title>span:nth-child(4){
  width: 80px;
}

.content-box .alert-title {
  color: #EB5757;
}
.content-box .alert-box {
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding: 16px 20px 16px 28px;
  border-radius: 5px;
  background-color: #FFEFE8;
}
.content-box .alert-box .alert-list {
  list-style-type: "- ";
  font-size: 14px;
}
.edit-box {
  width: 100%;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
.edit-box .edit-obj .obj-title {
  display: block;
  margin-bottom: 10px;
  color: #767676;
  font-size: 14px
}
.edit-box .edit-obj .img-box {
  position: relative;
  width: 360px;
  height: 360px;
  background-color: #c4c4c4;
}
.edit-box .edit-obj .img-box>img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.edit-box .edit-obj .img-box>i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.edit-box .input-box {
  flex-grow: 1;
}
.edit-box .input-box .edit-obj {
  margin-bottom: 16px;
}
.edit-box .input-box .edit-obj input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  outline-color: #c4c4c4;
  padding: 10px;
}
.edit-box .input-box .edit-obj button {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  margin-right: 5px;
  background-color: #fff;
  border: 1px solid #c4c4c4;
  color: #767676;
  transition: all 0.2s;
}
.edit-box .input-box .edit-obj button.active {
  border: none;
  background-color: #443B32;
  color: #fff;
}
.edit-box .input-box .edit-obj .obj-deco-input {
  position: relative;
  max-width: 220px;
  overflow: hidden;
}
.edit-box .input-box .edit-obj .obj-deco-input input {
  padding: 10px 40px 10px 10px;
}
.edit-box .input-box .edit-obj .obj-deco-input span {
  color: #fff;
  background-color: #c4c4c4;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  border-radius: 0 5px 5px 0;
  padding: 8px 10px 12px 10px;
}
.edit-box .button-box {
  text-align: right;
  border-top: 1px solid #c4c4c4;
  width: 100%;
  flex-shrink: 0;
  margin-top: 20px;
  padding: 40px 0;
}
.edit-box .button-box button {
  font-size: 16px;
  width: 200px;
  margin-left: 10px;
}