/*===============reset===================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
h1,h2,h3,h4,h5 {
    font-weight: inherit;
    font-size: inherit;
}
ul,ol {
    list-style: none;
}
button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
}
img {
    vertical-align: top;
}